@font-face {
  font-family: font;
  src: url("../font.ttf");
  font-display: swap;
}

* {
  font-family: font;
  margin: 0px;
  color: #c4ae08;
}

h1 {
  font-size: max(6vw, 60px);
  text-align: center;
  -webkit-text-stroke: 1px #000000;
}

h2 {
  font-size: max(2.2vw, 44px);
  text-align: center;
  -webkit-text-stroke: 1px #000000;
}

h3 {
  font-size: max(3vw, 30px);
  text-align: center;
  -webkit-text-stroke: 1px #000000;
}

p {
  font-size: max(2vw, 30px);
  text-align: center;
  font-family: serif;
  -webkit-text-stroke: 0.5px #000000;
}

a {
  font-size: max(3vw, 10px);
  text-decoration: none;
  -webkit-text-stroke: 1px #000000;
}

img:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(196, 174, 8, 0.3);
  transition: 0.2s ease-in-out;
}

main {
  padding-top: 2em;
  padding-bottom: 2em;
  min-height: 100vh;
  background-image: url("../bilder/slaget-vid-narva-3-svartvit.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  padding: 1.5vw;
  border: solid#c4ae08 5px;
  background-image: url("../bilder/konungens-likfard-2.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  padding: 2em;
  background-color: rgb(1, 16, 48);
  border: solid#c4ae08 5px;
  background-image: url("../bilder/konungens-likfard-2.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#indexdel {
  min-width: 250px;
  width: 40vw;
  border: solid#c4ae08 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  padding: 1.5em;
  background-image: url("../bilder/sten-2.jpg");
  background-position: center;
  background-size: cover;
}

#indexdel p {
  padding-top: 1.5vw;
}

#stor-meny {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-width: 100%;
  max-height: 50px;
  text-align: center;
}

#lankar {
  grid-area: 1 / 2 / 2 / 3;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

.questions, .result{
  margin: 1vw;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: max(1.5vw, 20px);
  min-width: 150px;
  border: solid#c4ae08 5px;
  padding: 1.5em;
  background-image: url("../bilder/sten-2.jpg");
  background-position: center; /* Center the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  /*display: none; standard är att man inte visar frågorna*/
}

label {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1rem;
}

button {
  margin-top: 1.5rem;
}

.question {
  margin-top: 1.5rem;
}

form {
  margin-top: 3em;
}

.invisible {
  display: none !important; /* ändra??*/
}
